---
import SanityPortableText from './SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
import Container from './Container.astro';

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Container>
  <article class="post-content__article">
    <div class="post-content__details">
      <h1>{post.title}</h1>
      <time>{formatBlogPostDate(post.publishedAt)}</time>
    </div>
    {post.mainImage && <img class="post-main__img" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
      <!-- {post.author && <p>By {post.author.name}</p>} -->
      <div class="post-content__body">
        <SanityPortableText portableText={post.body} />
      </div>
  </article>
</Container>

<style>
  .post-content__article {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .post-content__details {
    width: 60%;
  }

  .post-main__img {
    width: 30%;
    height: auto;
  }
</style>

